body, html {
  font-family: 'Helvetica Neue';
  color: #444;
}

a, a:visited {
  color: #756de6;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

.flash-container {
  margin: 5px 0;
}

.flash {
  padding: 5px 10px;
}

.flash.success {
  background-color: #73c594;
}

.flash.error {
  background-color: red;
}

.file-current-image {
  max-width: 200px;
}
