<form action="/" method="post">
  Site title: <input name="siteConfig[locals][title]" id="siteConfig[locals][title]" value="{{siteConfig.locals.title}}">
  <input type="submit" value="Submit">
</form>
<p>
  <a href="/{{previewBase}}" target="_blank">Preview</a>
</p>
<iframe width="500" height="500" src="/{{previewBase}}?cachebust={{currentTime}}">
