<div class="dz-preview dz-file-preview">
  <div class="dz-details">
    File name: <div class="dz-filename"><span data-dz-name></span></div>
    File size: <div class="dz-size" data-dz-size></div>
    <img data-dz-thumbnail />
  </div>
  <span class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></span>
  <span class="dz-success-mark"><span>✔</span></span>
  <span class="dz-error-mark"><span>✘</span></span>
  <div class="dz-error-message"><span data-dz-errormessage></span></div>
</div>
