<form method="post" class="js-editor" data-opts="{{json editorConfig=editorConfig editorSource=editorSource}}">
{{> fields editorConfig=editorConfig fields=editorConfig.fields editorSource=editorSource fieldPrefix=''}}
<p>
  <input type="submit" value="Save">
</p>
</form>
{{> preview previewPath=editorConfig.previewPath}}
